<!DOCTYPE html>
<html ng-app="testApp">
	<head>
		<title>Angular JS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-controller="QRScannerController">
		<button ng-click="openQRScanner()">
			Click to Open QR Code Scanner
		</button>

		<h1>RESULTS BELOW FROM SCAN</h1>
		<p>{{result}}</p>
		<br />
		<hr />
		<br />
		<h1>INPUT FILE PLEASE</h1>
		<input type="file" fileread="file" />
		<h3>File Status</h3>
		{{file ? file.name : "File not uploaded yet"}}
		<hr/>
		<button ng-click="openSignature()">
			Click to Signature
		</button>
		<h3>Signature File Status</h3>
		{{sigFile ? sigFile.name : "File not uploaded yet"}}
	</body>
	
	<script>
		var testApp = angular.module("testApp", []);

		testApp.controller("QRScannerController", ["$scope", "$window", ($scope, $window) => {
			$scope.result = "No Scanning in Progress...";
			$scope.file = undefined;
			$scope.sigFile = undefined;

			$window.setResult = (result) => {
				$scope.$apply(() => {
					$scope.result = result;
				});
			};

			$scope.openQRScanner = () => {
				if($window.Android) {
					$scope.result = $window.Android.createSignature();
				} else {
					$window.alert("Hello I am an alert, how do you do?");
				}
			};

			$scope.openSignature = () => {
				if($window.Android) {
					$window.Android.scanCode(0, "lol", 18);
				} else {
					$window.alert("Hello I am an alert, how do you do?");
				}
			};

			$window.setSigFile = (file) => {
				$scope.$apply(() => {
					$scope.sigFile = file;
				});
			}

			$scope.getFileToUpload = () => {
				if($window.Android) {
					$window.Android.getFile();
				} else {
					$window.alert("Yeah you cant do that man.");
				}
			};
		}])
		.directive("fileread", [function () {
			return {
				scope: {
					fileread: "="
				},
				link: function (scope, element, attributes) {
					element.bind("change", function (changeEvent) {
						scope.$apply(function () {
							scope.fileread = changeEvent.target.files[0];
							console.warn(scope.fileread);
						});
					});
				}
			}
		}]);
	</script>
</html>