<!DOCTYPE html>
<html ng-app="testApp">

<head>
	<meta charset="utf-8">
	<title>Angular JS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- QR CODE DECODER LIBRARIES -->
	<script src="libs/jsQR.js"></script>
</head>

<body ng-controller="TestController">
	<h1>Test App</h1>
	<hr />
	<h3>Camera Upload Solution</h3>
	<input type="file" accept="image/*" multiple>
	<h3>QR Code Scan</h3>
	<button ng-click="startup()" ng-show="!streaming">Start Scanner</button>
	<button ng-click="stop()" ng-show="streaming">Stop/Clear Scanner</button>
	<div class="camera" ng-show="streaming">
		<div>
			<video id="video">Video stream not available.</video>
		</div>
		<div ng-show="!Android">
			<button id="startbutton" ng-click="scanCode()">Scan Code</button>
		</div>
		<div ng-show="!Android">
			<h4>Last scan</h4>
			<canvas id="canvas"></canvas>
		</div>
		<h4>Result of the last scan</h4>
		<div class="output">{{result}}</div>
	</div>
</body>

<script>
	var testApp = angular.module("testApp", []);

	testApp.controller("TestController", ["$scope", "$window", ($scope, $window) => {
		// The width and height of the captured photo. We will set the
		// width to the value defined here, but the height will be
		// calculated based on the aspect ratio of the input stream.
		$scope.width = 320;    // We will scale the photo width to this
		$scope.height = 0;     // This will be computed based on the input stream

		// |streaming| indicates whether or not we're currently streaming
		// video from the camera. Obviously, we start at false.
		$scope.streaming = false;

		// The various HTML elements we need to configure or control. These
		// will be set by the startup() function.
		$scope.video = null;
		$scope.canvas = null;
		$scope.startbutton = null;
		$scope.result = null;

		// Android 
		$scope.Android = $window.Android;

		$scope.startup = function () {
			if ($window.Android) {
				$scope.setAndroidCallback(function (success, data) {
					$scope.$apply(function () {
						if (success) {
							$scope.result = data;
						} else {
							$scope.result = "nothing returned from scanner";
						}
					});
				});
				$window.Android.scanCode(256, "Scan Something", 18);
				$scope.streaming = true;
			} else {
				navigator.mediaDevices.getUserMedia({
					video: { facingMode: "environment" },
					audio: false
				})
					.then(function (stream) {
						$scope.video.srcObject = stream;
						$scope.video.play();
					})
					.catch(function (err) {
						console.log("An error occurred: " + err);
					});

				$scope.video.addEventListener('canplay', function (ev) {
					if (!$scope.streaming) {
						$scope.height = Math.floor($scope.video.videoHeight / ($scope.video.videoWidth / $scope.width));

						// Firefox currently has a bug where the height can't be read from
						// the video, so we will make assumptions if this happens.
						if (isNaN($scope.height)) {
							$scope.height = $scope.width / (4 / 3);
						}

						$scope.video.setAttribute('width', $scope.width);
						$scope.video.setAttribute('height', $scope.height);
						$scope.canvas.setAttribute('width', $scope.width);
						$scope.canvas.setAttribute('height', $scope.height);

						$scope.$apply(function () {
							$scope.streaming = true;
						});
					}
				}, false);

				$scope.reset();
			}
		}

		$scope.stop = function () {
			if ($scope.streaming && !$window.Android) {
				let stream = $scope.video.srcObject;
				let tracks = stream.getTracks();

				tracks.forEach(function (track) {
					track.stop();
				});

				$scope.video.srcObject = null;
				$scope.streaming = false;
			} else {
				// its Android
				$scope.streaming = false;
			}
		};

		$scope.reset = function () {
			var context = $scope.canvas.getContext('2d');
			context.fillStyle = "#AAA";
			context.fillRect(0, 0, $scope.canvas.width, $scope.canvas.height);

			$scope.result = "QR Code Scanner Not Running";
		}

		$scope.scanCode = function () {
			console.warn("Scanning for a QR Code...");
			$scope.result = "Scanning...";
			var context = $scope.canvas.getContext('2d');
			if ($scope.width && $scope.height) {
				$scope.canvas.width = $scope.width;
				$scope.canvas.height = $scope.height;
				context.drawImage($scope.video, 0, 0, $scope.width, $scope.height);

				var data = context.getImageData(0, 0, $scope.width, $scope.height);
				var code = jsQR(data.data, $scope.width, $scope.height);

				var result = "Did not find QR Code";
				if (code) {
					result = code.data;
				}

				$scope.result = result;
				alert(result);
			} else {
				$scope.reset();
			}
		}

		$window.onload = function () {
			$scope.video = document.getElementById('video');
			$scope.canvas = document.getElementById('canvas');
			$scope.startbutton = document.getElementById('startbutton');

			$scope.video.setAttribute('width', 0);
			$scope.video.setAttribute('height', 0);
			$scope.canvas.setAttribute('width', 0);
			$scope.canvas.setAttribute('height', 0);
		};

		$scope.setAndroidCallback = function (callback) {
			$window.androidCallback = callback;
		};

		$window.setResultFromAndroid = function (success, data) {
			$window.androidCallback(success, data);
		};
	}]);

</script>

</html>